data/Polyclonal_cell_lines/cell_line_indel_pos_tables/5_S5_L001_R1_001_Indel_position_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_B16/Mutation_tables/RM1_B16_guide_2_Kif18b_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_B16/Mutation_tables/RM1_B16_guide_3_Pmel_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/statistics/Polyclonal_cell_line_guide_1_clone_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_B16/Mutation_tables/RM1_B16_guide_1_Pmel_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_B16/Mutation_tables/RM1_B16_guide_2_Pmel_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables/RM1_B16_guide_1_Kif18b_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables/RM1_B16_guide_3_Pmel_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM3_B16_Single_conditions filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/statistics filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/statistics/Preinjection_guide_1_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_B16/Mutation_tables/RM1_B16_guide_3_Kif18b_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16 filter=lfs diff=lfs merge=lfs -text
data/RM3_B16_Single_conditions/Mutation_tables filter=lfs diff=lfs merge=lfs -text
data/RM3_B16_Single_conditions/Mutation_tables/RM3_B16_guide_3_Kif18b_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/statistics/Preinjection_guide_1_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/statistics/Preinjection_guide_2_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/statistics/Preinjection_guide_2_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_B16/Mutation_tables filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables/RM1_B16_guide_3_Kif18b_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM2_HC12_Single_conditions/Mutation_tables/RM2_HC12_Guide_2_Mutation_table_p53.txt filter=lfs diff=lfs merge=lfs -text
data/RM2_HC12_Single_conditions/Mutation_tables/RM2_HC12_Guide_3_Mutation_table_p53.txt filter=lfs diff=lfs merge=lfs -text
data/Metadata.csv filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/cell_line_indel_pos_tables/4_S4_L001_R1_001_Indel_position_table.txt filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/statistics/Polyclonal_cell_line_guide_3_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/Indel_position_tables/S93_Indel_position_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables/RM1_B16_guide_1_Pmel_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables/RM5_B16_guide_3_Kif18b_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables/RM5_B16_guide_3_Kif18b_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM3_B16_Single_conditions/Mutation_tables/RM3_B16_guide_3_Kif18b_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM5_B16/Mutation_tables/RM5_B16_guide_3_Kif18b_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM6_HC12_OE/Mutation_tables/RM6_HC12_guide_3_p53_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/cell_line_indel_pos_tables/1_S1_L001_R1_001_Indel_position_table.txt filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/cell_line_indel_pos_tables/2_S2_L001_R1_001_Indel_position_table.txt filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/statistics/Polyclonal_cell_line_guide_3_clone_list.txt filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/Indel_position_tables/S10_Indel_position_table.txt filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/Indel_position_tables/S28_Indel_position_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables/RM1_B16_guide_1_Kif18b_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables/RM1_B16_guide_3_Kif18b_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM5_B16/Mutation_tables/RM5_B16_guide_3_Pmel_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/statistics/Polyclonal_cell_line_guide_2_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/Indel_position_tables/S57_Indel_position_table.txt filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/statistics/Preinjection_guide_3_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_B16/Mutation_tables/RM1_B16_guide_1_Kif18b_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables/RM1_B16_guide_1_Pmel_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables/RM1_B16_guide_2_Pmel_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM5_B16/Mutation_tables/RM5_B16_guide_3_Kif18b_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM6_HC12_OE/Mutation_tables/RM6_HC12_guide_3_Pmel_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/Indel_position_tables/S22_Indel_position_table.txt filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/Indel_position_tables/S7_Indel_position_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM6_HC12_OE filter=lfs diff=lfs merge=lfs -text
data/RM2_HC12_Single_conditions/Mutation_tables/RM2_HC12_Guide_3_Mutation_table_Pmel.txt filter=lfs diff=lfs merge=lfs -text
data/RM3_B16_Single_conditions/Mutation_tables/RM3_B16_guide_3_Pmel_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM5_B16/Mutation_tables filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/cell_line_indel_pos_tables/3_S3_L001_R1_001_Indel_position_table.txt filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/Indel_position_tables/S81_Indel_position_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_B16 filter=lfs diff=lfs merge=lfs -text
data/RM1_B16/Mutation_tables/RM1_B16_guide_2_Pmel_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_B16/Mutation_tables/RM1_B16_guide_3_Kif18b_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM2_HC12_Single_conditions filter=lfs diff=lfs merge=lfs -text
data/RM5_B16/Mutation_tables/RM5_B16_guide_3_Pmel_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/cell_line_indel_pos_tables/6_S6_L001_R1_001_Indel_position_table.txt filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/statistics/Polyclonal_cell_line_guide_2_clone_list.txt filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/statistics/Polyclonal_cell_line_guide_2_pie_charts.svg filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/Indel_position_tables/S69_Indel_position_table.txt filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/Indel_position_tables/S86_Indel_position_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_B16/Mutation_tables/RM1_B16_guide_1_Kif18b_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_B16/Mutation_tables/RM1_B16_guide_1_Pmel_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/cell_line_indel_pos_tables/7_S7_L001_R1_001_Indel_position_table.txt filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/statistics/Polyclonal_cell_line_guide_2_Mutation_stats.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_B16/Mutation_tables/RM1_B16_guide_3_Pmel_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables/RM1_B16_guide_2_Pmel_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM6_HC12_OE/Mutation_tables/RM6_HC12_guide_3_Pmel_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM5_B16 filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/cell_line_indel_pos_tables filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/statistics filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/statistics/Preinjection_guide_3_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_B16/Mutation_tables/RM1_B16_guide_2_Kif18b_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables/RM1_B16_guide_3_Pmel_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables/RM5_B16_guide_3_Pmel_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM6_HC12_OE/Mutation_tables/RM6_HC12_guide_3_p53_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/statistics/Polyclonal_cell_line_guide_1_pie_charts.svg filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/statistics/Polyclonal_cell_line_guide_3_pie_charts.svg filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables/RM1_B16_guide_2_Kif18b_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables/RM5_B16_guide_3_Pmel_mutation_table.txt filter=lfs diff=lfs merge=lfs -text
data/RM2_HC12_Single_conditions/Mutation_tables filter=lfs diff=lfs merge=lfs -text
data/RM6_HC12_OE/Mutation_tables filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/statistics/Polyclonal_cell_line_guide_1_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/statistics/Polyclonal_cell_line_guide_3_Mutation_stats.txt filter=lfs diff=lfs merge=lfs -text
data/RM1_and_RM5_together_B16/Mutation_tables/RM1_B16_guide_2_Kif18b_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/RM2_HC12_Single_conditions/Mutation_tables/RM2_HC12_Guide_2_Mutation_table_Pmel.txt filter=lfs diff=lfs merge=lfs -text
data/RM3_B16_Single_conditions/Mutation_tables/RM3_B16_guide_3_Pmel_allele_list.txt filter=lfs diff=lfs merge=lfs -text
data/Polyclonal_cell_lines/statistics/Polyclonal_cell_line_guide_1_Mutation_stats.txt filter=lfs diff=lfs merge=lfs -text
data/Pre_injection_samples/Indel_position_tables filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Pie_chartMH3_B16_Guide1.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chartRM1_2_Pre_injection.pdf filter=lfs diff=lfs merge=lfs -text
results/RM3_B16_Single_conditions/barplot_indel_freqMETi.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Pie_chart_MH3_HC12_Guide3_indel_freq.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chart_RM2_1_Pre_injection_indel_freq.pdf filter=lfs diff=lfs merge=lfs -text
results/RM1_and_RM5_together_B16/barplot_indel_freqACT_METi.pdf filter=lfs diff=lfs merge=lfs -text
results/RM2_HC12_Single_conditions/barplot_indel_freqCyclo.pdf filter=lfs diff=lfs merge=lfs -text
results/RM3_B16_Single_conditions/box_plot_normed_values.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Indel_overview_4_S4_L001_R1_001.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Pie_chartMH3_B16_Guide2.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Pie_chartMH3_HC12_Guide3.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chartRM1_1_Pre_injection.pdf filter=lfs diff=lfs merge=lfs -text
results/RM2_HC12_Single_conditions/barplot_indel_freqMETi.pdf filter=lfs diff=lfs merge=lfs -text
results/RM6_HC12_OE filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Pie_chartMH3_B16_parental.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chartRM5_Pre_injection.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chartRM6_Pre_injection_ctrl.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Indel_overview_6_S6_L001_R1_001.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chart_RM2_2_Pre_injection_indel_freq.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chart_RM3_Pre_injection_indel_freq.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chart_RM6_Pre_injection_wt_indel_freq.pdf filter=lfs diff=lfs merge=lfs -text
results/RM5_B16/barplot_indel_freqno_treatment.pdf filter=lfs diff=lfs merge=lfs -text
results/RM5_B16/box_plot_normed_values.pdf filter=lfs diff=lfs merge=lfs -text
results/RM6_HC12_OE/barplot_indel_freqACT_METi.pdf filter=lfs diff=lfs merge=lfs -text
results/RM6_HC12_OE/box_plot_normed_values.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Pie_chart_MH3_B16_Guide2_indel_freq.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Pie_chart_MH3_HC12_Guide2_indel_freq.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/calculated_values.csv filter=lfs diff=lfs merge=lfs -text
results/RM1_and_RM5_together_B16/box_plot_normed_values.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Pie_chartMH3_HC12_Guide2.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Pie_chart_MH3_B16_Guide3_indel_freq.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/calculated_values.csv filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chart_RM6_Pre_injection_ctrl_indel_freq.pdf filter=lfs diff=lfs merge=lfs -text
results/RM1_B16/RM1_normed_data.csv filter=lfs diff=lfs merge=lfs -text
results/RM2_HC12_Single_conditions/RM2_normed_data.csv filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Indel_overview_3_S3_L001_R1_001.pdf filter=lfs diff=lfs merge=lfs -text
results/RM1_B16 filter=lfs diff=lfs merge=lfs -text
results/RM1_B16/box_plot_normed_values.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Indel_overview_5_S5_L001_R1_001.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Pie_chartMH3_HC12_Guide1.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chartRM2_1_Pre_injection.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chart_RM5_Pre_injection_indel_freq.pdf filter=lfs diff=lfs merge=lfs -text
results/RM2_HC12_Single_conditions filter=lfs diff=lfs merge=lfs -text
results/RM3_B16_Single_conditions/barplot_indel_freqACT_METi.pdf filter=lfs diff=lfs merge=lfs -text
results/RM6_HC12_OE/RM6_normed_data.csv filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Pie_chartMH3_B16_Guide3.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Pie_chart_MH3_B16_parental_indel_freq.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chartRM3_Pre_injection.pdf filter=lfs diff=lfs merge=lfs -text
results/RM2_HC12_Single_conditions/barplot_indel_freqCpG_polyIC.pdf filter=lfs diff=lfs merge=lfs -text
results/RM2_HC12_Single_conditions/barplot_indel_freqno_treatment.pdf filter=lfs diff=lfs merge=lfs -text
results/RM3_B16_Single_conditions/barplot_indel_freqCyclo.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chartRM2_2_Pre_injection.pdf filter=lfs diff=lfs merge=lfs -text
results/RM1_B16/barplot_indel_freqACT_METi.pdf filter=lfs diff=lfs merge=lfs -text
results/RM1_B16/barplot_indel_freqno_treatment.pdf filter=lfs diff=lfs merge=lfs -text
results/RM5_B16/RM5_normed_data.csv filter=lfs diff=lfs merge=lfs -text
results/RM6_HC12_OE/barplot_indel_freqHcpmelKO23-prp-pmel-wt.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Indel_overview_2_S2_L001_R1_001.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chart_RM1_3_Pre_injection_indel_freq.pdf filter=lfs diff=lfs merge=lfs -text
results/RM2_HC12_Single_conditions/barplot_indel_freqACT_METi.pdf filter=lfs diff=lfs merge=lfs -text
results/RM6_HC12_OE/barplot_indel_freqHcpmelKO23-prp-ctrl.pdf filter=lfs diff=lfs merge=lfs -text
results/RM3_B16_Single_conditions/barplot_indel_freqCpG_polyIC.pdf filter=lfs diff=lfs merge=lfs -text
results/RM3_B16_Single_conditions/barplot_indel_freqno_treatment.pdf filter=lfs diff=lfs merge=lfs -text
results/RM5_B16/barplot_indel_freqACT_METi.pdf filter=lfs diff=lfs merge=lfs -text
results/RM6_HC12_OE/barplot_indel_freqno_treatment.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Indel_overview_7_S7_L001_R1_001.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Pie_chart_MH3_B16_Guide1_indel_freq.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Pie_chart_MH3_HC12_Guide1_indel_freq.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chartRM6_Pre_injection_wt.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chart_RM1_1_Pre_injection_indel_freq.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chart_RM1_2_Pre_injection_indel_freq.pdf filter=lfs diff=lfs merge=lfs -text
results/Polyclonal_cell_lines/Indel_overview_1_S1_L001_R1_001.pdf filter=lfs diff=lfs merge=lfs -text
results/Pre_injection_samples/Pie_chartRM1_3_Pre_injection.pdf filter=lfs diff=lfs merge=lfs -text
results/RM1_and_RM5_together_B16 filter=lfs diff=lfs merge=lfs -text
results/RM1_and_RM5_together_B16/RM1_5_normed_data.csv filter=lfs diff=lfs merge=lfs -text
results/RM1_and_RM5_together_B16/barplot_indel_freqno_treatment.pdf filter=lfs diff=lfs merge=lfs -text
results/RM2_HC12_Single_conditions/box_plot_normed_values.pdf filter=lfs diff=lfs merge=lfs -text
results/RM3_B16_Single_conditions filter=lfs diff=lfs merge=lfs -text
results/RM3_B16_Single_conditions/RM3_normed_data.csv filter=lfs diff=lfs merge=lfs -text
results/RM5_B16 filter=lfs diff=lfs merge=lfs -text
